[Desktop Entry]
Name=Shelldone
Comment=Shelldone Terminal Emulator
Keywords=shell;prompt;command;commandline;cmd;
Icon=net.shelldone.terminal
StartupWMClass=net.shelldone.terminal
TryExec=shelldone
Exec=shelldone start --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
